*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial,sans-serif;
}


.navbar{
    display: flex;
    justify-content:space-between;
    padding: 20px 120px;
    align-items: center;
}
.navbar h1{
    font-size: 20px;
    color: black;
}
.nav-items a{
     color: gray;
     text-decoration: none;
     margin-right: 20px;
     font-weight: bold;
}

.navbar button{
    background-color: cyan;
    color: white;
    width: 100px;
    height: 50px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    
}
.navbar button:hover{
    background-color: #fff;
    border: o.5px solid grey;
    transition: o.3 ease-in-out;

}



.container{
    background-image:url("image/rumi.jpg");
    background-size: cover;
    background-position: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    display: flex;
    padding: 130px 20px ;
    color:white;
    text-align: center;
    position: relative;
    
    }
    .container h1{
        font-size: 48px;
        color: white;

    }
    .container h2{
        font-size: 36px;
        color: white;
    }

.contact-button{
    color: #333;
    font-size: 14px;
    border: none;
    padding: 10px 20px;
    background-color: burlywood;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
    
}
.contact-button:hover{
    background-color: #fff;
    border: 1px solid grey;
    color: #333;

}


    .about-me{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 20px;


    }
    .about-me{
        text-align: center;
        margin-top: 30px;
        
         }
         .about-me h3{
            font-size: 24px;
            color: #333;
         }
         .about-me p{
            font-size: 18px ;
            color: #333;
            margin-top: 10px;
         }
         .about-description{
            display: flex;
            justify-content: space-between;
            gap: 20px;
            margin-top: 30px;

            width: 800px;
            
         }

         
         .div-img img{
            width: 300px;
            height:200px ;
            border-radius: 7px;
         }
         
         .home{
            font-size: 18px;
            padding-left: 70px;
            color: #333;
            padding-right: 50px;
            text-align: justify;
         }
         .home-button{
            margin-top: 70px;
            background-color: coral;
            color: white;
            border: none;
            padding: 15px 20px;
            font-size: 20px;
            cursor: pointer;
            border-radius: 10px;
            margin-top:20px;
            transition: background-color o.3s;
         }
         .home-button:hover{
            background-color: #ff6347;
         }
        .service-container{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 50px;
            margin-bottom: 60px;

        }
        
        
        
        .services title p{
            color:#666;
            font-size: 10px;
        }
        .service-box{
            display: flex;
            justify-content: space-between;
            gap: 20px;
            margin-top:30px;
            width: 800px;

        }
        .serv-info{
            flex: 1;
            text-align: center;
            border: 1px solid;
            border-radius: 5px;
            padding: 5px;
        }
       
             
              
              .service-box p {
                font-size: 16px;
                color: #333;
                margin-bottom: 10px;
                margin-top: 30px;
                margin-bottom: 50px;
              }
              
              .service-btn {
                background-color: rgb(231, 231, 9);
                color: white;
                border: none;
                padding: 10px 20px;
                font-size: 16px;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s;
                margin-bottom: 5px;
              }
              
              .service-btn:hover {
                background-color: #c3c30b;
              }
              
            
              .about-container{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin-top: 50px;
                



       }
        
        